#authentication{
    margin:auto;
    width: 500px;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
}

body{
    background-image: url("img/curd.jpg");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 12;
    color: grey;
}

button{
    padding: 5px;
    align-content: center;
    border: 2px solid rgb(37, 36, 36);
    color: white;
    background-color: black;
}

input{
    padding: 5px;
    align-content: center;
    border: 2px solid rgb(37, 36, 36);
}

#postSection{
    margin:auto;
    width: 500px;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
    color: grey;
}

textarea{
    background-color: white;
    color:grey;
}